@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* body{
  @apply bg-black text-; */
/* } */

@theme {
  --color-primary: #5f6FFF; /* define your color */
}

::-webkit-scrollbar {
  @apply hidden
}

*{
  font-family: 'Outfit', sans-serif;
}

@media (max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}